<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
</head>

<body class="nav-md">

  <div class="container body">
    <div class="main_container">
      
      <% include ./partials/side-nav %>
      <% include ./partials/top-nav %>
      <% include ./partials/flash %>
      
      <!-- page content -->
      <div class="right_col" role="main" style="min-height: 1704px;">
        
        
        
      </div>
      <!-- /page content -->

      <% include ./partials/footer %>

    </div>
  </div>

  <% include ./partials/scripts %>

</body>

</html>